
/* ===================
   General media styles
   =================== */
img {
  width: 100%;
}

/* Define grid */
section#dataviz {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 10px;
}
