
/* ===================
   General media styles
   =================== */
img {
  width: 40%;
}

/* Define grid */
section#dataviz {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 10px;
    margin-left: 50px;
}

section#datavideo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
